<form class="container">
    <section class="botoncurso">
        <div class="exmp-button-row">
          <button mat-raised-button color = "primary" class = "button-container" (click) = "toconju()">CONJUNTOS</button>
          <button mat-raised-button color = "primary" class = "button-container" (click) = "todetconj()">DETERMINACIÓN DE CONJUNTOS </button>
          <button mat-raised-button color = "primary" class = "button-container">SUBCONJUNTOS</button>
          <button mat-raised-button color = "primary" class = "button-container">NOTACION CON CONJUNTOS</button>
        </div>
    </section>
        <div class="botonhome" >
            <button mat-raised-button color="primary" class = "button-container1" (click) = "toprimer()">Regreso</button>
            <button  mat-raised-button color="warn" class="button-container1" (click) = "tologin()">Salir</button>
        </div>
  </form>
