<form class="container" [formGroup]="formGroup" >
    
    <mat-form-field class="elemento">
      <mat-label>Nombre</mat-label>
      <input type="nombre" matInput formControlName="nombre">
      <mat-icon matPrefix>perm_identity</mat-icon>
    </mat-form-field>
    <span class="error_message">
      <span *ngIf="formGroup.get('nombre').errors && (formGroup.get('nombre').dirty || formGroup.get('nombre').touched)">
        Necesita ingresar un nombre
      </span>
    </span>

  <mat-form-field class="elemento">
    <mat-label>Email</mat-label>
    <input type="correo" matInput formControlName="email">
    <mat-icon matPrefix>alternate_email</mat-icon>
  </mat-form-field>
  <span class="error_message" *ngIf="formGroup.get('email').errors && formGroup.get('email').dirty || formGroup.get('email').touched">
    <span *ngIf="formGroup.get('email').errors?.required">
      Necesita ingresar un email
    </span>
    <span *ngIf="formGroup.get('email').errors?.minlength">
      El email debe tener mas de 10 caracteres
    </span> 
    <span *ngIf="formGroup.get('email').errors?.email">
      El campo no cumple con ser un email
    </span>
  </span>


  <mat-form-field class="elemento">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-icon matPrefix>vpn_key</mat-icon>
  </mat-form-field>
  <span class="error_message">
    <span *ngIf="formGroup.get('password').errors && (formGroup.get('password').dirty || formGroup.get('password').touched)">
      Necesita ingresar un password
    </span>
  </span>

  <mat-form-field class="elemento">
    <mat-label>Escuela</mat-label>
    <input  type ="Nombre" matInput formControlName="escuela">
    <mat-icon matPrefix>account_balance</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <button  class = "button-container"  mat-raised-button color="primary" (click)="toRegister()" >Guardo Usuario</button>

</form>