<form class="container">
    <section class="botoncurso">
        <div class="exmp-button-row">
          <button mat-raised-button color = "primary" class = "button-container" (click) = "toPrimer()">Primer Grado</button>
          <button mat-raised-button color = "primary" class = "button-container">Segundo Grados</button>
          <button mat-raised-button color = "primary" class = "button-container">Tercer Grados</button>
          <button mat-raised-button color = "primary" class = "button-container">Cuarto Grados</button>
          <button mat-raised-button color = "primary" class = "button-container">Quinto Grados</button>
          <button mat-raised-button color = "primary" class = "button-container">Sexto Grados</button>
        </div>
    </section>

    <div class="botonhome">
        <button mat-raised-button color="warn" class = "button-container" (click) = "tologin()" >Salir</button>
    </div>  
</form>