<form class="container">
    <section class="botoncurso">
        <div class="exmp-button-row">
          <button mat-raised-button color="warn" class = "button-container" (click) = "toPrimate()">Matematica</button>
          <button mat-raised-button color="warn" class = "button-container" >Lenguaje</button>
          <button mat-raised-button color="warn" class = "button-container" >Ciencias Naturales</button>
          <button mat-raised-button color="warn" class = "button-container" >Socia</button>
        </div>
    </section>
    <div class="botonhome">
        <button mat-raised-button color="primary" class = "button-container1" (click) = "togrado()">Regreso</button>
        <button mat-raised-button color="primary" class = "button-container1" (click) = "tologin()" >Salir</button>
    </div>  
</form>
